<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Mini Translator
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <!-- ========================================================================== -->
      <!-- Start Language -->
      <!-- ========================================================================== -->
      <ion-col>
        <ion-list>
          <!-- Start Language: Text -->
          <ion-item>
            <ion-textarea 
              [(ngModel)]="textToTranslate"
              placeholder="Enter the text you want to translate..."></ion-textarea>
          </ion-item>

          <!-- Start Language: Select -->
          <ion-item>
            <ion-label>From:</ion-label>
            <ion-select
              [(ngModel)]="startLanguage"
              [value]="startLanguage">
                <ion-select-option 
                  *ngFor="let supportedLanguage of supportedLanguages" 
                  [value]="supportedLanguage.id">
                    {{ supportedLanguage.name }}
                </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>      
      </ion-col>

      <!-- ========================================================================== -->
      <!-- Start Language -->
      <!-- ========================================================================== -->
      <ion-col>
        <ion-list>
          <!-- End Language: Text -->
          <ion-item>
            <ion-textarea 
              [(ngModel)]="textTranslated"
              placeholder="Here you will see the translated text"
              [disabled]="true"></ion-textarea>
          </ion-item>

          <!-- End language: Select -->
          <ion-item>
            <ion-label>To:</ion-label>
            <ion-select 
              [(ngModel)]="endLanguage">
                <ion-select-option 
                  *ngFor="let supportedLanguage of supportedLanguages" 
                  [value]="supportedLanguage.id">
                    {{ supportedLanguage.name }}
                </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="text-center">
    <ion-button color="primary" (click)="translateText()">
      Translate
    </ion-button>
  </div>
</ion-content>
